
body{
    background-color:lightgrey;
    margin: 0px;
    padding: 0px;
}
.navbar
{
    background-color: rgb(4, 156, 161);
    padding: 10px;
    color: #eb4034;
}
.navbar a{
    color: #eb4034;
    text-decoration: none;
    font-family: cursive;
font-size: 20px;
text-transform: uppercase;
margin-right: 30px;
width: 100px;
overflow: hidden;


}
.navbar a:hover {
    background-color: blue;
border: 1px solid white;
border-radius: 4px;

}

h1 {background-color: blueviolet;
    h1 text color: yellow;

}
.parent{
    width: 100%;
    height: 50vh;
    background-color: chartreuse;
    display: flex;
   
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.parent .child1{
    height: 150px;
    width: 150px;
    background-color:crimson;

}
.child2{
    height: 200px;
    width: 200px;
    background-color: blue;
}
.child3{
    height: 250px;
    width: 250px;
    background-color: gold;
}
.position-example {
    width: 400px;
    height: 70vh;
    background-color: blue;
    display:flex;
    position:relative

}
.position1{
    height: 20px;
    width: 30px;
    top: 15px;
    left:10px;

    background-color: gold;
    position:absolute
}
.position2{
    height: 50px;
    width: 50px;
    background-color:black;
}
.para{
    text-decoration: underline;
    text-decoration: overline;
    text-transform: lowercase;
    line-height: 30px;
    word-spacing: 10px;
    text-decoration-color: peru;
    
}
.card{
    border: 1px solid black;
    box-shadow: 20px 20px 20px red;
}
